body {
  color: black;
  background: white;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
}

h1 {
  font-size: 55px;
}

h2 {
  font-size: 24px;
}

.main-header {
  background-color: rgb(238, 238, 238);
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.main-header .container {
  padding-top: 49px;
}

.logo {
  float: left;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

.uncurrent-logo:hover,
.uncurrent-logo:active {
  opacity: 1;
}

.main-navigation {
  float: left;
  margin-left: 178px;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

.main-navigation li {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  line-height: 30px;
  vertical-align: top;
}

.main-navigation a {
  color: black;
  display: block;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
}

.main-navigation a:hover {
  color: rgb(251, 86, 90);
}

.main-navigation a:active {
  color: black;
  opacity: 0.3;
}

.main-navigation .current:hover {
  color: black;
}

.main-navigation .current {
  position: relative;
}

.underline {
  position: absolute;
  width: 74px;
  height: 2px;
  background-color: rgb(251, 86, 90);
  bottom: 15px;
}

.basket-block {
  float: right;
  max-width: 160px;
  margin-top: 10px;
}

.basket {
  position: relative;
  color: black;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 42px;
  padding-right: 0;
  vertical-align: top;
  text-decoration: none;
  text-transform: uppercase;
  line-height: 30px;
}

.basket:hover {
  color: rgb(251, 86, 90);
}

.basket::before {
  content: "";
  position: absolute;
  top: 23px;
  left: 2px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.png");
}

.slider {
  position: relative;
  width: 1160px;
  min-height: 420px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.slider input[type=radio] {
  position: absolute;
  opacity: 0;
}

.slider-controls {
  position: absolute;
  bottom: 95px;
  left: 50%;
  width: 200px;
  height: 19px;
  margin-left: -100px;
  text-align: center;
  z-index: 10;
}

.slider-controls label {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 7px;
  background: white;
  border: 5px solid white;
  vertical-align: top;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: white;
  border-radius: 50%;
  top: 7px;
}

.slider-controls label:nth-child(1)::after {
  left: 62px;
}

.slider-controls label:nth-child(2)::after {
  left: 98px;
}

.slider-controls label:nth-child(3)::after {
  left: 133px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slide-text {
  width: 520px;
  padding: 0;
}

.slide-title {
  font-size: 55px;
  line-height: 55px;
  color: black;
  margin-top: 67px;
  margin-bottom: 26px;
}

.slide-description {
  width: 415px;
  color: rgb(40, 49, 54);
  line-height: 24px;
  font-weight: 400px;
}

.slide .btn {
  width: 240px;
  margin-top: 40px;
}

.btn {
  display: block;
  padding: 16px 0;
  color: white;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background: rgb(251, 86, 90);
  border-radius: 3px;
}

.btn:hover {
  background-color: rgb(231, 66, 70);
}

.btn:active {
  background-color: rgb(215, 55, 59);
  color: rgba(255, 255, 255, 0.3);
  box-shadow: inset 0 3px 0 0 rgb(193, 49, 53);
}

.slide:nth-child(1) {
  background-image: url('../img/slide-1.png');
  background-repeat: no-repeat;
  background-position: 93.2% 7px;
}

.slide:nth-child(2) {
  background-image: url('../img/slide-2.png');
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slide:nth-child(3) {
  background-image: url('../img/slide-3.png');
  background-repeat: no-repeat;
  background-position: 100% 9px;
}

.slide {
  display: none;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
  display: block;
}
#btn-2:checked ~ .slides .slide:nth-child(2) {
  display: block;
}
#btn-3:checked ~ .slides .slide:nth-child(3) {
  display: block;
}

.business-types {
  padding-top: 80px;
  padding-bottom: 80px;
  border-bottom: 2px solid rgb(238, 238, 238);
}

.business-type {
  float: left;
  width: 300px;
  margin-right: 100px;
}

.business-type:nth-child(3) {
  margin-right: 60px;
}

.business-type .business-header {
  margin-top: 21px;
  margin-bottom: 17px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.business-type .business-info {
  width: 250px;
  color: rgb(40, 49, 54);
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 31px;
}

.business-type .btn {
  width: 160px;
}

.business-type .green {
  background-color: rgb(0, 202, 116);
}

.business-type .green:hover {
  background-color: rgb(0, 188, 108);
}

.business-type .green:active {
  background-color: rgb(0, 170, 98);
  box-shadow: inset 0 3px 0 0 rgb(0, 153, 88);
}

.business-type .yellow {
  background-color: rgb(239, 200, 74);
}

.business-type .yellow:hover {
  background-color: rgb(234, 181, 52);
}

.business-type .yellow:active {
  background-color: rgb(229, 167, 34);
  box-shadow: inset 0 3px 0 0 rgb(206, 150, 31);
}

.info {
  margin-top: 30px;
  margin-bottom: 38px;
}

.info .info-block {
  float: left;
  width: 700px;
}

.info-block-title {
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 30px;
}

.info-block-text {
  width: 630px;
  color: rgb(40, 49, 54);
  font-weight: 400;
  line-height: 24px;
}

.info-block span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 43px;
  margin-bottom: 17px;
}

.info-block ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 35px;
  line-height: 47px;
  color: rgb(40, 49, 54);
  font-weight: 400;
}

.info-block li {
  position: relative;
  display: block;
}

.info-block li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: rgb(251, 86, 90);
  left: -34px;
  top: 23px;
}

.info .percent-blocks {
  float: right;
}

.percent-blocks img {
  padding-top: 10px;
}

.percent-blocks span {
  display: block;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 34px;
  margin-left: 17px;
  margin-bottom: 54px;
}

.percent-block {
  float: left;
  width: 80px;
  margin-right: 39px;
}

.percent-block:last-child {
  margin-right: 0;
}

.percent-block .percent {
  font-size: 45px;
  font-weight: 700;
  line-height: 24px;
}

.percent-blocks sup {
  font-size: 28px;
}

.percent-block .info {
  color: rgb(40, 49, 54);
  font-weight: 400;
  line-height: 18px;
}

.partners {
  border-top: 2px solid rgb(238, 238, 238);
  border-bottom: 2px solid rgb(238, 238, 238);
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 80px;
}

.partners li {
  position: relative;
  float: left;
}

.partners li:nth-child(1) {
  width: 251px;
  padding-left: 31px;
  padding-top: 62px;
  padding-bottom: 46px;
}

.partners li:nth-child(1)::after,
.partners li:nth-child(2)::after,
.partners li:nth-child(3)::after {
  content: "";
  position: absolute;
  display: block;
  width: 2px;
  height: 52px;
  background-color: rgb(238, 238, 238);
  right: 1px;
  top: 64px;
}

.partners li:nth-child(2) {
  width: 256px;
  padding-left: 44px;
  padding-top: 46px;
}

.partners li:nth-child(3) {
  width: 244px;
  padding-left: 56px;
  padding-top: 65px;
}

.partners li:nth-child(4) {
  padding-left: 62px;
  padding-top: 52px;
}

.partners a {
  opacity: 0.2;
}

.partners a:hover {
  opacity: 1;
}

.partners a:active {
  opacity: 0.1;
}

.main-header-title {
  text-align: center;
  margin-top: 137px;
  margin-bottom: 104px;
  font-weight: 500;
}

.filtration {
  float: left;
  margin-top: 54px;
  width: 260px;
}

.filtration span,
.sort-by span {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.filtration ul {
  margin: 0;
  margin-top: 16px;
  padding: 0;
}

.filtration li {
  list-style: none;
  line-height: 20px;
  margin-bottom: 20px;
}

.range-filter {
  width: 260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  margin-bottom: 54px;
}

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 12px;
  border-radius: 5px;
  background-color: rgb(238, 238, 238);
}

.range-controls .scale {
  height: 2px;
  background: rgb(215, 220, 222);
}

.range-controls .bar {
  width: 65%;
  height: 2px;
  background: rgb(0, 202, 116);
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 0px;
  width: 4px;
  height: 4px;
  cursor: pointer;
  border: 8px solid white;
  border-radius: 50%;
  background: rgb(171, 171, 171);
  box-shadow: 0 2px 1px 0 rgb(207, 207, 207);
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  display: inline-block;
  width: 50%;
}

.max-price {
  text-align: right;
}

.price-controls input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  width: 60px;
  margin-left: 8px;
  margin-top: 2px;
  padding: 8px 10px;
  text-align: center;
  color: rgb(40, 49, 54);
  border: none;
  border-radius: 5px;
  background: rgb(238, 238, 238);
}

.filtration input[type="radio"],
.filtration input[type="checkbox"] {
  display: none;
}

.filtration .grid-type-filter {
  margin-bottom: 45px;
  color: rgb(40, 49, 54);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.grid-type-filter input + label{
  position: relative;
  display: inline-block;
  padding-left: 37px;
  cursor: pointer;
  vertical-align: top;
}

.grid-type-filter input + label:hover {
  color: black;
}

.grid-type-filter input + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1px;
  top: -2px;
  background-image: url("../img/radio-off.png");
  opacity: 0.4;
}

.grid-type-filter input + label:hover::before {
  opacity: 1;
}

.grid-type-filter input:checked + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  left: 1px;
  top: -2px;
  background-image: url("../img/radio-on.png");
  background-repeat: no-repeat;
}

.filtration .features-filter {
  margin-bottom: 50px;
  color: rgb(40, 49, 54);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

.features-filter input + label {
  position: relative;
  display: inline-block;
  padding-left: 37px;
  cursor: pointer;
  vertical-align: top;
}

.features-filter input + label:hover {
  color: black;
}

.features-filter input + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-off.png");
  background-repeat: no-repeat;
  opacity: 0.4;
}

.features-filter input + label:hover::before {
  opacity: 1;
}

.features-filter input:checked + label::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  left: 1px;
  top: -2px;
  background-image: url("../img/checkbox-on.png");
  background-repeat: no-repeat;
}

.filtration .btn {
  width: 260px;
  color: black;
  background-color: rgb(238, 238, 238);
  border: none;
  cursor: pointer;
}

.filtration .btn:hover {
  background-color: rgb(223, 223, 223);
}

.filtration .btn:active {
  background-color: rgb(213, 213, 213);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgb(191, 191, 191);
}

.sort-by {
  margin-top: 52px;
  float: right;
  width: 760px;
}

.sort-by .sort {
  float: left;
}

.sort-by .kind-of-sort {
  float: right;
  margin-top: 7px;
}

.kind-of-sort a {
  float: left;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 28px;
}

.kind-of-sort a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.kind-of-sort .current {
  color: rgba(0, 0, 0, 1);
}

.kind-of-sort .current:hover {
  color: rgba(0, 0, 0, 1);
}

.kind-of-sort .sort-direction {
  float: left;
  width: 9px;
  height: 9px;
  margin-left: 20px;
  margin-top: 3px;
  font-size: 0;
  line-height: 0;
}

.down {
  background-image: url("../img/sort-down.png");
}

.up {
  background-image: url("../img/sort-up.png");
  opacity: 0.2;
}

.cards-block {
  float: right;
  margin-top: 50px;
  width: 760px;
}

.template-card {
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 40px;
  float: left;
  width: 360px;
  margin-right: 40px;
  margin-bottom: 36px;
  background-color: rgb(238, 238, 238);
  text-align: center;
  line-height: 0;
}

.template-card .circle {
  display: inline-block;
  left: 16px;
  top: 13px;
}

.template-card .circle,
.template-card .circle::before,
.template-card .circle::after {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 50%;
}

.template-card .circle::before {
  content: "";
  left: 24px;
}

.template-card .circle::after {
  content: "";
  left: 48px;
}

.template-card:nth-child(2n) {
  margin-right: 0;
}

.animation-block {
  display: none;
}

.template-card:hover {
  background-color: rgb(77, 77, 77);
  box-shadow: 0 6px 15px 0 rgb(77, 77, 77);
}

.template-card:hover .animation-block {
  position: absolute;
  display: block;
  background-color: rgb(238, 238, 238);
  bottom: 0px;
}

.animation-block .btn {
  width: 200px;
  display: inline-block;
  margin-bottom: 43px;
}

.animation-block .btn:active {
  color: white;
}

.template-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-align: center;
  display: block;
  margin-top: 36px;
  margin-bottom: 15px;
}

.template-brief {
  width: 180px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: rgb(102, 102, 102);
  text-align: center;
  margin-bottom: 30px;
  display:inline-block;
}

.pagination {
  float: left;
  margin-top: 28px;
  margin-bottom: 59px;
}

.pagination .btn {
  display: inline-block;
  color: black;
  background-color: rgb(238, 238, 238);
  margin-right: 7px;
  line-height: 18px;
}

.pagination .page {
  width: 50px;
}

.pagination .current {
  width: 46px;
  padding: 14px 0;
  background-color: white;
  border: 2px solid rgb(219, 219, 219);
  box-shadow: none;
}

.pagination .next {
  width: 260px;
  margin-right: 0;
}

.pagination .btn:hover {
  background-color: rgb(223, 223, 223);
}

.pagination .btn:active {
  background-color: rgb(213, 213, 213);
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 0 0 rgb(191, 191, 191);
}

.pagination .current:hover {
  background-color: white;
}

.pagination .current:active {
  background-color: white;
  color: black;
  box-shadow: none;
}

.main-footer .map {
  position: relative;
  width: 100%;
  min-height: 416px;
  margin-left: auto;
  margin-right: auto;
  background: url("../img/map.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.map .contacts {
  position: absolute;
  width: 269px;
  top: 53px;
  left: 243px;
  padding-left: 50px;
  background-color: rgb(255, 255, 255);
}

.contacts span {
  display: block;
  margin-top: 50px;
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.contacts .address,
.contacts .telephone {
  width: 208px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(102, 102, 102);
}

.contacts .telephone {
  margin-top: 17px;
  margin-bottom: 37px;
}

.contacts .btn {
  width: 220px;
  display: inline-block;
  margin-bottom: 48px;
}

.main-footer .container {
  margin-top: 69px;
  margin-bottom: 70px;
}

.container .footer-social {
  width: 261px;
  float: left;
}

.social-btn {
  position: relative;
  float: left;
  width: 79px;
  height: 79px;
  border-radius: 50%;
  margin-right: 12px;
  font-size: 0;
  line-height: 0;
  background-color: rgb(225, 225, 225);

}

.social-btn:last-child {
  margin-right: 0;
}

.social-btn:hover {
  background-color: rgb(231, 66, 70);
}

.social-btn:active {
  background-color: rgb(215, 55, 59);
}

.social-btn:active::before {
  opacity: 0.3;
}

.social-btn-vk::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-vk.png");
  width: 26px;
  height: 15px;
  top: 32px;
  left: 27px;
}

.social-btn-fb::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-fb.png");
  width: 12px;
  height: 22px;
  top: 29px;
  left: 34px;
}

.social-btn-inst::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-inst.png");
  width: 21px;
  height: 21px;
  top: 29px;
  left: 29px;
}

.container .footer-info {
  width: 600px;
  float: left;
  margin-left: 138px;
  margin-top: 6px;
}

.footer-info .friendship {
  display: block;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-left: 0;
  margin-bottom: 10px;
}

.footer-info .sale {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}

.modal-content {
  display: none;
  position: fixed;
  width: 760px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -510px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 32px;
  padding-bottom: 84px;
  background-color: white;
  box-shadow: 0 20px 40px 0 rgba(0, 1, 1, 0.75);
  z-index: 20;
}

.modal-content-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 21px;
  height: 21px;
  font-size: 0;
  background-color: white;
  border: 0;
  cursor: pointer;
}

.modal-content-close::before,
.modal-content-close::after {
  content: "";
  position: absolute;
  top: 8px;
  left: -4px;
  width: 30px;
  height: 4px;
  background-color: rgb(251, 86, 90);
}

.modal-content-close::before {
  transform: rotate(45deg);
}

.modal-content-close::after {
  transform: rotate(-45deg);
}

.modal-content h2 {
  font-size: 45px;
  line-height: 45px;
}

.modal-content label {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.modal-content .name {
  float: left;
}

.modal-content .email {
  float: right;
}

.modal-content .message {
  float: left;
  margin-top: 32px;
  margin-bottom: 47px;
}

.modal-content input {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  padding: 16px 16px;
  margin-top: 16px;
  text-align: left;
  color: rgb(68, 68, 68);
  border: 1px solid rgb(215, 220, 222);
  border-radius: 2px;
}

.name input,
.email input {
  width: 327px;
}

.message input {
  width: 726px;
  padding-bottom: 110px;
}

.modal-content .btn {
  width: 260px;
  border: none;
  cursor: pointer;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  width: 100%;
  height: 100%;
  background: rgba(215, 220, 222, 0.5);
}
